@use "../../../styles/breakpoints" as *;

footer {
  width: 100%;
  background-color: #1f1f1f;
  color: #ffffff;

  .infos_cima {
    width: 100%;
    margin: 0 auto;
    padding: 60px;
    display: flex;
    gap: 300px;
    align-items: center;

    @include max($sm) {
      flex-direction: column;
      gap: 40px;
      align-items: flex-start;
    }

    @include between($xl, $xxl) {
      gap: 200px;
    }

    @include between($md, $lg) {
      gap: 120px;
    }

    h1 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
      color: #d4af37;
    }

    li {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    /* COLUNA ESQUERDA */
    .Coluna_esq {
      display: flex;
      flex-direction: column;
      gap: 24px;

      img {
        width: 500px;
        height: auto;

        @include max($md) {
          width: 250px;
        }

        @include max($sm) {
          width: 200px;
        }

        @include between($md, $lg) {
          width: 270px;
        }
      }

      li {
        display: flex;
        gap: 30%;
        align-items: center;
        justify-content: center;

        @include max($sm) {
          gap: 40px;
        }

        ul {
          padding: 0;
          margin: 0;
          cursor: pointer;

          .icon-face {
            width: 15px;

            @include between($md, $lg) {
              width: 11px;
            }
          }

          img {
            width: 22px;

            @include max($sm) {
              width: 15px;
            }
            @include between($md, $lg) {
              width: 15px;
            }
          }
        }
      }
    }

    /* COLUNA DO MEIO */
    .Coluna_meio {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include max($sm) {
        gap: 30px;
      }

      @include between($md, $lg) {
      }

      .Fale_conosco_footer,
      .Areas_atuacao_footer {
        h1 {
          font-size: 2rem;
          color: #f4df8f;

          @include max($sm) {
            font-size: 1.5rem;
          }

          @include between($md, $lg) {
            font-size: 1.3rem;
          }
        }
        li {
          display: flex;
          flex-direction: column;
          gap: 14px;

          ul {
            display: flex;
            align-items: center;
            gap: 12px;

            img {
              width: 18px;
              @include between($md, $lg) {
                width: 14px;
              }
            }

            p {
              font-size: 14px;
              color: #cfcfcf;

              @include max($sm) {
                font-size: 17px;
              }

              @include between($md, $lg) {
                font-size: 18px;
              }
            }
          }
        }
      }

      .Fale_conosco_footer {
        & .ButtonTopo {
          height: 1.4rem;
          width: 120px;
          border-radius: 20px;
          font-size: 13px;
          margin-top: 10px;
          cursor: pointer;
          border: none;
          background-color: #ffffff;
          color: #111111;
          transition: all 0.5s;

          a {
            color: #111111;
          }
          a:hover {
            color: #f4df8f;
          }

          @include max($sm) {
            width: 100%;
            margin-top: 1rem;
          }

          &:hover {
            border-radius: 0;
            background-color: #111111;
            border: solid 2px #f4df8f;
            color: #f4df8f;
          }
        }
      }
    }

    /* COLUNA DIREITA */
    .Coluna_dir {
      @include between($md, $lg) {
        padding-left: 25px;
      }
      .Localizacao_footer,
      .Links_rapidos_footer {
        h1 {
          font-size: 2rem;
          color: #f4df8f;

          @include max($sm) {
            font-size: 1.5rem;
          }

          @include between($md, $lg) {
            font-size: 1.3rem;
          }
        }
      }

      .Localizacao_footer {
        li {
          display: flex;
          align-items: center;
          gap: 12px;

          img {
            width: 15px;

            @include between($md, $lg) {
              width: 10px;
            }
          }

          p {
            font-size: 14px;
            color: #cfcfcf;

            @include max($sm) {
              font-size: 17px;
            }

            @include between($md, $lg) {
              font-size: 14px;
            }
          }
        }
      }

      .Links_rapidos_footer {
        margin-top: 30px;

        @include max($sm) {
          margin-top: 30px;
        }

        @include between($md, $lg) {
          margin-top: 30px;
        }

        nav {
          flex-direction: column;
          align-items: flex-start;
          ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;

            li {
              a {
                font-size: 1rem;
                color: #cfcfcf;
                text-decoration: none;
                transition: 0.3s;

                font-family: "Inter", sans-serif;

                @include max($sm) {
                  font-size: 13px;
                }

                @include between($md, $lg) {
                  font-size: 15px;
                }

                &:hover {
                  color: #d4af37;
                }
              }
            }
          }
        }
      }
    }
  }

  /* FAIXA INFERIOR */
  .infos_baixo {
    border-top: 1px solid #383838;
    padding: 60px 40px;

    @include max($md) {
      padding: 40px 30px;
    }

    @include max($sm) {
      padding: 30px 20px;
    }

    li {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      list-style: none;

      .Politic {
        font-size: 1rem;
        margin-bottom: 20px;

        & a {
          color: #ffffff; // cor que você quiser
          text-decoration: none;
          font-family: "Inter", sans-serif;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .direitos_reservados_texto {
        font-size: 1rem;
        color: #ffffff;

        @include max($sm) {
          font-size: 0.9rem;
        }

        @include between($md, $lg) {
          font-size: 0.7rem;
        }
      }

      .desenvolvido_andy {
        font-size: 13px;
        color: #ffffff;
        margin-top: 20px;

        @include max($sm) {
          font-size: 12px;
          margin-top: 15px;
        }

        @include between($md, $lg) {
          font-size: 10px;
        }

        a {
          color: #d4af37;
          font-size: 15px;
          text-decoration: none;

          @include max($sm) {
            font-size: 14px;
          }

          @include between($md, $lg) {
            font-size: 12px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
