// _breakpoints.scss

$xs: 394px;
$sm: 413px;
$md: 431px;
$lg: 480px;
$xl: 576px;

@mixin max($size) {
    @media (max-width: $size) {
        @content;
    }
}

@mixin min($size) {
    @media (min-width: $size) {
        @content;
    }
}

@mixin between($min, $max) {
    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}