header {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111111;
  padding: 0 2rem;

  & .Contatos_topo {
    width: 100%;
    height: 7vh;
    display: flex;
    padding-left: 2.5vw;
    background-color: #1f1f1f;

    & .infos {
      display: flex;
      padding-right: 65vw;

      & .contato1,
      .contato2 {
        display: flex;
        align-items: center;
        gap: 10px;

        & img {
          width: 1.2vw;
        }

        & p {
          font-size: 1.2rem;
          color: #fff;
        }
      }
    }
  }

  & .Logo img {
    width: 15vw;
    height: auto;
  }

  & .menu_toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    z-index: 999;
  }

  & nav {
    width: 100%;
    display: flex;
    align-items: center;

    & ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      & li {
        font-size: 1.2rem;

        & a {
          color: #fff;
          transition: 0.3s;
        }

        & a:hover {
          color: #f4df8f;
        }
      }

      & .ButtonTopo {
        height: 3rem;
        width: 180px;
        border-radius: 20px;
        font-size: 1.2rem;
        cursor: pointer;
        border: none;
        transition: 0.5s;
      }

      & .ButtonTopo:hover {
        border-radius: 0;
        background-color: #111111;
        border: solid 2px #f4df8f;
        color: #f4df8f;
      }
    }
  }
}
