@use "../../../styles/breakpoints" as *;

.feedback-section {
  width: 100%;
  height: auto;
  background-color: #1f1f1f;
  padding: 10vh;
  text-align: center;
  border-radius: 0px 0px 120px 120px;

  @include between($md, $lg) {
    height: auto;
  }

  // @include between($xs, $sm) {
  //   height: 80vh;
  // }

  @include between($xxs, $xs) {
    height: auto;
    border-radius: 0px 0px 40px 40px;
    padding: 1vh;
  }

  h1 {
    color: #f4df8f;
    font-size: 5rem;
    font-weight: bold;

    @include between($xl, $xxl) {
      font-size: 4rem;
    }

    @include between($md, $lg) {
      font-size: 3.8rem;
    }

    @include between($xs, $sm) {
      font-size: 3rem;
    }

    @include between($xxs, $xs) {
      font-size: 2.4rem;
      margin-top: 13vh;
    }
  }
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  position: relative;

  @include between($xxs, $xs) {
    gap: 30px;
  }

  .nav {
    background: none;
    border: 2px solid #f4df8f;
    color: #f4df8f;
    font-size: 2.5rem;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;

    @include between($xs, $sm) {
      font-size: 2rem;
      width: 45px;
      height: 45px;
    }

    &:hover {
      background-color: #f4df8f;
      color: #1f1f1f;
    }
  }

  .viewport {
    overflow: hidden;
    width: 100%;
    margin: 0 40px;

    @include between($xxs, $xs) {
      margin: 0px;
    }

    .track {
      display: flex;
      gap: 30px;

      @include between($xs, $sm) {
        gap: 60px;
      }
    }
  }
  .card {
    width: 45vw;
    padding: 40px 60px;
    background-color: #1a1a1a;
    border-radius: 12px;
    text-align: center;

    @include between($xs, $sm) {
      width: 45vw;
    }

    @include between($xxs, $xs) {
      width: auto;
      height: auto;
      padding: 40px 30px;
      margin-bottom: 5vh;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      margin-bottom: 25px;
      padding-left: 40px;

      @include between($xs, $sm) {
        padding-left: 40px;
      }

      img {
        width: 80px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;

        @include between($xs, $sm) {
          width: 60px;
          height: 60px;
        }
        // @include between($xxs, $sm) {
        //   width: 60px;
        //   height: 60px;
        // }
      }

      div {
        text-align: left;

        strong {
          color: #fff;
          font-size: 1.1rem;
          font-weight: 500;
        }

        span {
          display: block;
          color: #bfbfbf;
          font-size: 0.85rem;
          margin-top: 3px;
        }
      }
    }

    p {
      color: #ffffff;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.6;
      max-width: 700px;
      margin: 0 auto 25px;

      @include between($xs, $sm) {
        font-size: 0.9rem;
        max-width: 100%;
      }
      @include between($xxs, $xs) {
        font-size: 0.9rem;
        width: 85%;
      }
    }

    .stars {
      color: #f4df8f;
      font-size: 1.2rem;
      letter-spacing: 3px;
    }
  }
}

// .avatar-number {
//   width: 80px;
//   height: 70px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: #f4df8f;
//   font-size: 3rem;

//   @include between($xs, $sm) {
//     width: 80px;
//     height: 60px;
//   }
// }
